table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.changed{
  background-color: orange;
}
.removed{
  background-color: red;
}